<div class="oneMovie">
  <div class="movie" *ngFor="let movie of movies">
    <div style="margin: 8px; border-radius: 10px;">
      <div>
        <button type="button" class="button-like" (click)="addFavorite(movie)">
          <img src="./assets/heart.svg" alt="heart" width="25" height="25">
        </button>
        <span class="vote">{{movie.vote_average}}</span>
      </div>
      <img [src]="imgUrl + movie.poster_path" alt="" class="movie-img">
      <div class="overview">
        <h3>{{movie.title}}</h3>
        {{movie.overview}}
      </div>
    </div>
  </div>
</div>
